:root {
    --primary-color: #043e66;
    --secondary-color: #1db4df;
}
body {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    background-color: var(--primary-color);
    height: 80px;
}
.navbar-nav .nav-link {
    color: white;
}
.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

.logo {
    width: 100px;
    height: 50px;
}

.navbar-brand {
    display: flex;
    gap: 6px;
}

.user-icon {
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

.dropdown-menu {
    background-color: var(--primary-color);
    border: none;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    background-color: var(--secondary-color);
}
.secondary-bg {
    background: #1db4df;
}
.primary-text {
    color: #043e66;
}
.small-image {
    max-width: 100px;
    height: auto;
}
