:root {
    --primary-color: #043e66;
    --secondary-color: #1db4df;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: var(--primary-color);
    height: 80px;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

.logo {
    width: 100px;
    height: 50px;
}

.navbar-brand {
    display: flex;
    gap: 6px;
}

.user-icon {
    color: white;
    font-size: 24px;
    margin-left: 10px;
}

.primary-bg {
    background: #043e66;
}

.secondary-bg {
    background: #1db4df;
}

.header-section {
    margin-bottom: 20px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
}

.form-section {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.primary-text {
    color: #043e66;
}

.primary-bg {
    background-color: #043e66;
}

.secondary-text {
    color: #1db4df;
}

.secondary-bg {
    background-color: #1db4df;
}